database:
  driver: 0 # 0: oracle 1: mysql 2: postgressql
  source: "oracle://test:password@127.0.0.1:1521/FREEPDB1"
smtp:
  host: "smtp.example.com"
  port: "25"
  username: "test@example.com"
  password: "password"
reports:
  - name: "报表名称"
    workBook:
      prefix: "报表名称_"
      dateFormat: "20060102150405"
      suffix: ".xlsx"
    sheets:
      - name: "sheet页1"
        sql: "select col1,col2,col3,col4,col5 from table1"
        column: "字段1,字段2,字段3,字段4,字段5"
      - name: "sheet页2"
        sql: "select col1,col2,col3,col4,col5 from table2"
        column: "字段1,字段2,字段3,字段4,字段5"
    message:
      from: "test@example.com"
      to: ["test@outlook.com", "test@qq.com"]
      cc: ["test@gmail.com"]
      bcc: ["test@189.cn"]
      subject: "test主题"
      body: |
        test正文
            测试邮件，请查收附件
      contentType: "text/plain;charset=utf-8"
      attachment:
        contentType: "text/plain;charset=utf-8"
        withFile: true